@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "vazir";
    src: url("../public/assets/vazirmatn-v33.003/fonts/ttf/Vazirmatn-Medium.ttf");
}

@font-face {
    font-family: "vazir-digits";
    src: url("../public/assets/vazirmatn-v33.003/misc/Farsi-Digits/fonts/ttf/Vazirmatn-FD-Black.ttf");
}

* {
    direction: rtl;
    font-family: vazir;
}

.number {
    font-family: vazir-digits;
}

@layer base {


    a {
        @apply text-[20px] transition-all duration-300 hover:text-pink-400
    }

    .h1 {
        @apply text-[64px] lg:text-[84px]
    }

    .h2 {
        @apply text-[50px]
    }

    .h3 {
        @apply text-[25px]
    }
}